.form__element.form__element__btn {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color:black;
  background-color: var(--bg-btn);
  font-weight: bold;
  font-size:x-large;
  width: 90%;
  padding: 1rem;
  border: solid 2px var(--border-btn);
  border-radius: 20px;
  transition: border-color 0.1s, background-color 0.1s, transform 0.1s;
}

@media (hover:hover) {
  .btn:hover {
    transform: scale(1.05);
  }
}

.btn:active {
  border-color: var(--bg-btn);
  background-color: var(--border-btn);
}

.btn.btn__reset {
  background-color: transparent;
  transition: border-color 0.1s, background-color 0.1s;
}

.btn.btn__reset:active {
  border-color: var(--bg-btn);
  background-color: var(--border-btn);
}

@media (width > 830px) {
  .form__element__btn .btn {
    width: 45%;
  }
}