.footer {
  width: 100%;
  background: rgb(165,119,34);
  background: radial-gradient(circle, var(--bg-container) 0%, var(--border-btn) 100%);
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

footer a img {
  width: 25px;
}